/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body{
  font-family: 'Courier New', Courier, monospace;
}

h1{
  text-align: center;
}
.mainPage{

    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 5px solid grey;
    padding: 20px;
    
  

}

button {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}
form input[type="radio"]{ 
  display: inline;
  margin-left: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
label {
  padding-bottom: 30px;
}


